<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!-- AdventureWorks 2012 Database https://msftdbprodsamples.codeplex.com/downloads/get/165399 -->
    <!-- Upgrade the file using following the steps found here: https://msdn.microsoft.com/en-us/library/hh873188.aspx -->
    <add name="AdventureWorks" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\temp\AdventureWorks2012_Data.mdf;Initial Catalog=AdventureWorks;Integrated Security=True" />
  </connectionStrings>
</configuration>